<!-- メッセージとか -->
<p id="notice_msg"><%= render 'layouts/show_notice_msg' %></p>
<p id="danger_msg"><%= render 'layouts/show_danger_msg' %></p>

<%= form_with(model: owner, local: true) do |form| %>

  <div class="field">
    <%= form.label "オーナー名" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label "(カナ_全角入力)" %>
    <%= form.text_field :name_kana %>
  </div>

  <%= form.label "オーナーの住所" %>
  <div class="field">
    <%= form.label "〒" %>
    <%= form.text_field :post_code %>
  </div>

  <div class="field">
    <%= form.label "住所" %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label "電話①" %>
    <%= form.text_field :tel %>
  </div>

  <div class="field">
    <%= form.label "電話②" %>
    <%= form.text_field :tel2 %>
  </div>

  <div class="field">
    <%= form.label "FAX" %>
    <%= form.text_field :fax %>
  </div>

  <div class="field">
    <%= form.label "物件名" %>
    <%= form.text_field :property_name %>
  </div>

  <div class="field">
    <%= form.label "(カナ_全角入力)" %>
    <%= form.text_field :property_name_kana %>
  </div>

  <%= form.label "部件の住所" %>
  <div class="field">
    <%= form.label "〒" %>
    <%= form.text_field :property_post_code %>
  </div>

  <div class="field">
    <%= form.label "住所" %>
    <%= form.text_field :property_address %>
  </div>

  <div class="field">
    <%= form.label "物件の種類" %>
    <%= form.text_field :property_type %>
  </div>

  <%= form.label "銀行情報" %>
  <div class="field">
    <%= form.label "銀行名" %>
    <%= form.text_field :bank %>
      <%= form.label "……「銀行」まで入力" %>
  </div>

  <div class="field">
    <%= form.label "支店名" %>
    <%= form.text_field :branch %>
    <%= form.label "……「支店」は入力不要" %>
  </div>

  <div class="field">
    <%= form.label "口座種別" %>

    <%= form.radio_button :account_type, 0  %><%= "普通預金　　　　" %>
    <%= form.radio_button :account_type, 1  %><%= "当座預金" %>
  </div>

  <div class="field">
    <%= form.label "口座番号" %>
    <%= form.text_field :account_num %>
  </div>

  <div class="field">
    <%= form.label "口座名義" %>
    <%= form.text_field :account_name %>
  </div>

  <div class="field">
    <%= form.label "備考" %>
    <%= form.text_area :memo %>
  </div>

  <div class="actions">
    <%= form.submit "登録"%>
  </div>
<% end %>
