<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @owner.name %>
</p>

<p>
  <strong>Name kana:</strong>
  <%= @owner.name_kana %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @owner.post_code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @owner.address %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @owner.tel %>
</p>

<p>
  <strong>Tel2:</strong>
  <%= @owner.tel2 %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @owner.fax %>
</p>

<p>
  <strong>Property name:</strong>
  <%= @owner.property_name %>
</p>

<p>
  <strong>Property name kana:</strong>
  <%= @owner.property_name_kana %>
</p>

<p>
  <strong>Property post code:</strong>
  <%= @owner.property_post_code %>
</p>

<p>
  <strong>Property address:</strong>
  <%= @owner.property_address %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @owner.property_type %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @owner.bank %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @owner.branch %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @owner.account_type %>
</p>

<p>
  <strong>Account num:</strong>
  <%= @owner.account_num %>
</p>

<p>
  <strong>Account name:</strong>
  <%= @owner.account_name %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @owner.memo %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
